VITE_APPWRITE_URL="https://cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID="6694e5fc000bc100fded"
VITE_APPWRITE_DATABASE_ID="66951604001bf90bce11"
VITE_APPWRITE_COLLECTION_ID="669516470019230fc227"
VITE_APPWRITE_BUCKET_ID="66951797002761ace75a"
